body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#l1{
stroke:RGB(0,255,0);
stroke-width :2
}

#l2{
  stroke:RGB(0,252,0);
  stroke-width :3
}
#l3{
  stroke:RGB(0,250,0);
  stroke-width :3
}
    
  
